$color-link: #1C1C1C;
$color-hover:#F38120;
$color-line:#12C868;
$color-background: #FFFFFF;
$color-text:#1C1C1C;
$color-hamburger: #1C1C1C;
$color-light: #EDF2F5;
$color-name: #12C868;
$color-lightorange:#FD9C49;
$color-lightgreen:#21E27C;
$color-overlay: rgba(80, 80, 80, 0.4);
$color-checkbox: #F38120;
$color-mark: #FFFFFF;

$color-violet: #976FCC;
$color-green:#12C868;
$color-orange:#F38120;
$color-blue: #05A0EB;
$color-wihte: #FFFFFF;

$content-width: 1570px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

