.sidebar {
    padding: 63px 30px 41px 30px;
    width: 225px;
    background: $color-background;
    box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    @include media-mobile {
        max-height: 107%;
        overflow-y: hidden;
        padding: 26px 14px 0 23px;
        bottom: 0;
    }
    
}
.ico__sidebar {
    display: none;
    @include media-mobile {
        display: initial;
    }
}
.sidebar__text {
   margin: 0;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* or 157% */


text-align: center;

color: #1C1C1C;
@include media-mobile {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
    text-align: left;
}
}

.menu_shadow {
    opacity: 0.6;
}


